<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>버스 정보 앱</h3>
<form action="/bus/route-path" method="post">
    경유지 검색 <br>
    확인할 라우트 아이디:<input type="text" name="routeid">
    <input type="submit" value="검색">
</form>
<br>
<a href="/bus/graph">그래프보기</a>
<br>
<form action="/bus/route-stationList" method="post">
    2 경유노선목록 조회 <br>
    정류소 고유번호:<input type="text" name="arsId">
    <input type="submit" value="검색">
</form>
<br>
<form action="/bus/route-info" method="post">
    8 노선 기본정보 조회 <br>
    확인할 라우트 아이디:<input type="text" name="routeid">
    <input type="submit" value="검색">
</form>
<br>
<form action="/bus/route-pathList" method="post">
    9 노선의 지도상 경로 <br>
    확인할 라우트 아이디:<input type="text" name="busRouteId">
    <input type="submit" value="검색">
</form>
<br>
</body>
</html>