<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>노선 정보</h3>
<table border="1">
    <tr><th>노선 ID</th><td>{{bus.route_id}}</td></tr>
    <tr><th>노선명</th><td>{{bus.bus_name}}</td></tr>
    <tr><th>노선 길이</th><td>{{bus.length}} km</td></tr>
    <tr><th>노선 유형</th><td>{{bus.routeType}}</td></tr>
    <tr><th>기점</th><td>{{bus.st_station}}</td></tr>
    <tr><th>종점</th><td>{{bus.ed_station}}</td></tr>
    <tr><th>배차간격</th><td>{{bus.term}} 분</td></tr>
    <tr><th>금일첫차시간</th><td>{{bus.first_tm}}</td></tr>
    <tr><th>금일막차시간</th><td>{{bus.last_tm}}</td></tr>
    <tr><th>운수사명</th><td>{{bus.corp_name}}</td></tr>
</table>
<a href="/">되돌아가기</a>
</body>
</html>