<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body style="width:80%; text-align:center; margin-left:auto; margin-right:auto;">
<h3 style="display:inline-block; text-align:center;">노선ID 리스트</h3>
<table id="example-table-1" width="100%" border="1" class="table table-bordered table-hover text-center">
    <tr><th>노선ID</th></tr>
{% for s in stList%}
    <tr>
        <td>{{s.id}}</td>
    </tr>
{% endfor %}
</table>
<a href="/">되돌아가기</a>
</body>
</html>
