<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h3>제품 등록</h3>
<form action="/member/add" method="post">
  <div>
    <input type="text" name="id" id="id" placeholder="id" required><br>
    <input type="text" name="pwd" id="pwd" placeholder="pwd" required><br>
    <input type="text" name="name" id="name" placeholder="name" required><br>
    <input type="text" name="email" id="email" placeholder="email" required><br>
  </div>
    <input type="submit" value="등록">
</form>
</body>
</html>